<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sasta Vs Code</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
  <div id="main">

    <div id="nav">

      <div id="nav-1">
        <img src="../images/vs png.png" alt="">
        <h6>File</h6>
        <h6>Edit</h6>
        <h6>Selection</h6>
        <h6>View</h6>
        <h6>Go</h6>
        <h6>Run</h6>
        <h6>Terminal</h6>
        <h6>Help</h6>
      </div>
      <h3>VS Code - Visual Studio Code</h3>
      <div id="nav-2">
        <i class="ri-close-fill"></i>
      </div>
    </div>

    <div id="center">

      <div id="side">

        <div id="top">
          <i class="ri-file-copy-line"></i>
          <i class="ri-search-line"></i>
          <i class="ri-github-line"></i>
          <i class="ri-external-link-line"></i>
        </div>

        <div id="bottom">
          <i class="ri-user-line"></i>
          <i class="ri-settings-2-line"></i>
        </div>
      </div>
      
      <div id="left">

        <div class="file">
            <h4>New Folder</h4>

            <div class="icon">
              <i class="ri-file-add-line"></i>
              <i class="ri-folder-add-line"></i>
              <i class="ri-restart-line"></i>
            </div>

        </div>
          
      </div>

      <div id="right"></div>
    </div>
  </div>
</body>

</html>