<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vs Code</title>
  <link rel="shortcut icon" href="../images/favicon-32x32.png" type="image/x-icon">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
  <div id="main">

    <div id="nav">

      <div id="nav-1">
        <img src="../images/vs png.png" alt="">
        <h6>File</h6>
        <h6>Edit</h6>
        <h6>Selection</h6>
        <h6>View</h6>
        <h6>Go</h6>
        <h6>Run</h6>
        <h6>Terminal</h6>
        <h6>Help</h6>
      </div>

      <h3>VS Code - Visual Studio Code</h3>

      <div id="nav-2">
        <i class="ri-subtract-line"></i>
        <i class="ri-checkbox-multiple-blank-line"></i>
        <span> <i class="ri-close-fill"></i></span>
      </div>


    </div>

    <hr>

    <div id="center">

      <div id="side">

        <div id="top">

          <i class="ri-file-copy-line explore"></i>
          <i class="ri-search-line"></i>
          <i class="ri-git-branch-line"></i>
          <i class="ri-function-line"></i>

        </div>

        <div id="bottom">
          <i class="ri-user-line"></i>
          <i class="ri-settings-2-line"></i>
        </div>

      </div>

      <hr>

      <div id="left">

        <div id="l-top">
          <h3>EXPLORER</h3>
          <img src="../images/icons8-dot-32.png" alt="">
        </div>

        <hr>

        <div class="file">
          <h4><i class="ri-arrow-down-s-line"></i> New Folder</h4>
          <div class="icon">
            <i id="fileicon" class="ri-file-add-line"></i>
            <i id="foldericon" class="ri-folder-add-line"></i>
            <i id="restart" class="ri-restart-line"></i>
          </div>

        </div>

        <div id="files">
          <form id="fileform" action="/createfile" method="post">
            <input type="text" name="filename" placeholder="file name">
          </form>
          <form id="folderform" action= "/createfolder" method="post">
            <input type="text" name="foldername" placeholder="folder name">
          </form>

          <% elem.forEach(function(el){ %>
            <div class="elem">
                         
              <div class="elleft">
                <% if(el.isDirectory()){ %>
                <i class="ri-folder-line"></i>
                <%= el.name %>
                <% } else { %>
                <i class="ri-file-3-line"></i>
                <%= el.name %>
                <% } %>
              </div>
                           
              <div class="elright">
                <i class="ri-pencil-fill"></i>
                <a href="/delete/<%= el.name %>"><i class="ri-delete-bin-7-line"></i></a>
              </div>

            </div>
            <% }) %>
        </div>

      </div>

      <hr>

      <div id="right">
        <img src="https://cdn.icon-icons.com/icons2/2389/PNG/512/visual_studio_code_logo_icon_144754.png" alt="">
      </div>

    </div>

  </div>

  <script src="../javascripts/script.js"></script>

</body>

</html>